/* h1 { 
    background-color: aqua;
    border: 1px dashed rgb(red, green, blue);
    padding: 20 px 50px 20px 50;
    margin: 10px 10px 10px 10px;
}

body { 
    background-color:blueviolet;
} 
            
li {
    background-color:blue;
}

#Importancia_trafalgar{
    background-color: crimson;
}

.list-item{
    font-size: 25px;
}

#Our_services {
    background-color: cornflowerblue;
    width: 952px;
    height: 197px; 
    top: 967px; 
    left:323px;
}

#Search_doctor{
    background-color: blue;
    width: 350px;
    height: 354px; 
    top: 1224px; 
    left:240px;
}

#Online_pharmacy{
    background-color: blue;
    width: 350px;
    height: 354px; 
    top: 1224px; 
    left:624px;
}

#Consultation {
    background-color: blue;
    width: 350px;
    height: 354px; 
    top: 1224px; 
    left:1010px;
}
    */

body {
  width: 1600px;
  font-family: "Mulish", sans-serif;
  border: 1px solid black;
  margin: 0px; /*para evitar diferentes bordes en navegadores */
  padding: 0px; /*para evitar diferentes bordes en navegadores */
}

header {
  height: 41px;
  margin-top: 56px;
  margin-left: 191px;
  display: flex;
  justify-content: space-between;
}
nav {
  width: 545px;
  height: 23px;
  gap: 0px;
  opacity: 0px;
  margin-right: 192px;
  color: #1f1534;
}

nav ul {
  /* para separar los elementos li dentro de la horizontalmente */
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style-type: none; /* Para quitar viñetas */
}
nav ul li a {
  text-decoration: none;
  color: #233348;
}

nav ul li a:hover {
  /* El hover seudo selector significa cuando el cursor pase por ese elemento*/

  font-size: 18px;
  font-weight: 700;
  line-height: 22.59px;
  text-align: left;
}

#logoT {
  width: 41px;
  height: 41px;
  background-color: #458ff6;
  font-family: "Mulish", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 32.63px;
  text-align: center;
  align-items: center;
  align-content: center;
  display: inline-block;
  color: #ffff;
  border-radius: 50%;
}

#logo-Trafalgar {
  width: 107px;
  height: 30px;
  gap: 0px;
  opacity: 0px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30.12px;
  text-align: left;
  color: #233348;
}

#section-main {
  display: flex;
}

#articulo-virtual {
  width: 445px;
  height: 338px;
  top: 283px;
  left: 190px;
  gap: 0px;
  border-radius: 55px 0px 0px 0px;
  opacity: 0px;
  margin-top: 186px;
  margin-left: 190px;
  margin-right: 109px;
}

#articulo-virtual h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
  color: #000000;
}

#articulo-virtual p {
  font-size: 21px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
  color: #7d7987;
}

#articulo-virtual button {
  width: 200px;
  height: 60px;
  gap: 0px;
  border-radius: 55px;
  opacity: 0px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  background-color: #458ff6;
  border: none;
}

#imagen-virtual {
  width: 693px;
  height: 598px;
  gap: 0px;
  opacity: 0px;
}
.font-Mulish {
  font-family: "Mulish", sans-serif;
}

.contenedor-main {
  width: 50%;
  height: 598px;
  gap: 0px;
  opacity: 0px;
}
